<div class="content">

    <div class="chat-list">
        <div class="profile-user">
            <div class="image-user"></div>
            <div class="description-user">
                <p>Perfil</p>
            </div>
        </div>
    
        <div class="user-chats">

            <div class="item">
                <div class="image"></div>
                <div class="description">
                    <p>Usuario 1</p>
                </div>
            </div>
        

    
            <div class="item">
                <div class="image"></div>
                <div class="description">
                    <p>Usuario 2</p>
                </div>
            </div>

    
            <div class="item">
                <div class="image"></div>
                <div class="description">
                    <p>Usuario 3</p>
                </div>
            </div>
        </div>


    </div>

    <div class="chat-panel">
        <div class="chat-profile-panel">
            <div class="image-panel"></div>
            <div class="description-panel">
                <p>Usuario 3</p>
            </div>
        </div>
        <!--Este es el bueno-->
        <div class="chat-content">

            <div class="message-sender">
                <div class="message-content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos delectus saepe repellat, perferendis eos tempora alias aliquam officia ratione, minus quasi perspiciatis officiis quaerat enim. Assumenda eius distinctio temporibus fugiat.</p>
                    <small>fecha</small>
                </div>    
            </div>

            <div class="message-receiver">
                <div class="message-content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ab delectus voluptatum iusto suscipit laudantium animi aliquam excepturi! Sed architecto quaerat laudantium perspiciatis voluptatum ullam cumque itaque, mollitia exercitationem accusantium.</p>
                    <small>fecha</small>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Ingresa un mensaje.">
            <button><img src="assets/images/google_send.svg" alt="SEND"></button>
        </div>
    </div>
</div>
