<div class="content">

    <div class="chat-list">

        <div class="profileuser">
            <div class="imageuser"></div>
            <div class="descriptionuser">
                <p>Usuario 1</p>
            </div>
        </div>
    
        <div class="item">
            <div class="image"></div>
            <div class="description">
                <p>Usuario 1</p>
            </div>
        </div>
        <div class="divider"></div>  
    
    </div>

    <div class="chat-panel">
        
    </div>
</div>
