<div class="content">

    <div class="chat-list">
        <div class="profile-user">
            <div class="image-user"></div>
            <div class="description-user">
                <p>Perfil</p>
            </div>
        </div>
    
        <div class="user-chats">
            <div class="item"  *ngFor="let item of chat_users">
                <div class="image"></div>
                <div class="description">
                    <p class="username">{{item.name}}</p>
                    <p class="last-message">{{item.message}}</p>
                    <small>{{item.date}}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-panel">
        <div class="chat-profile-panel">
            <div class="image-panel"></div>
            <div class="description-panel">
                <p>Usuario 3</p>
            </div>
        </div>
        <!--Este es el bueno-->
        <div class="chat-content">

            <div class="message" *ngFor="let item of chat_users[0].messages">
                <div ngClass="message-{{item.id}}">
                    <div ngClass="message-content-{{item.id}}">
                        <p>{{item.message}}</p>
                        <small>{{item.date}}</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="chat-input">
            <input type="text" placeholder="Ingresa un mensaje.">
            <button><img src="assets/images/google_send.svg" alt="SEND"></button>
        </div>
    </div>
</div>
